<div *ngIf="isAdmin">
  <mat-card *ngFor="let item of contents" class="card mt-3 mr-3">

    {{ item.nome }}

    <mat-card-header *ngIf="item.linkVideo" style="text-align: center;">
      <div [innerHtml]="item.ytEmbed"></div>
    </mat-card-header>

    <mat-card-header>
      <b> Entrevistado(a): &nbsp;</b> {{ item.entrevistado }}
    </mat-card-header>

    <mat-card-header>
      <b>País:&nbsp;</b> {{ item.pais }}
    </mat-card-header>

    <mat-card-header>
      <b>Duração:&nbsp;</b> {{ item.duracao }}
    </mat-card-header>

    <mat-card-header>
      <b>Descrição:&nbsp;</b> {{ item.descricao }}
    </mat-card-header>

    <mat-card-actions>
      <button *ngIf="item._id && isAdmin" mat-button (click)="delete(item._id)">Deletar</button>
      <button *ngIf="item._id && isAdmin" mat-button (click)="update(item)">Editar</button>
    </mat-card-actions>
  </mat-card>
</div>

<ngb-carousel *ngIf="!isAdmin" [showNavigationArrows]="true" [showNavigationIndicators]="true" [keyboard]="true"
  [wrap]="false" [activeId]="'slideTwo'" interval="0">
  <ng-template *ngFor="let item of contents" ngbSlide>
    <mat-card class="mt-5 mt-sm-0 card">
      <!-- Titulo -->
      <mat-card-header>
        <mat-card-title>
          <h1> {{ item.nome }}</h1>
        </mat-card-title>
      </mat-card-header>

      <!-- Conteudo -->
      <mat-card-content>
        <div class="row">
          <!-- Video -->
          <div class="col-lg-7">
            <!--<div [innerHtml]="item.ytEmbed" ></div> 
            <div class="iframe-container">
              <iframe src="https://www.youtube.com/embed/sXqLKC58miY"></iframe>
            </div>-->
            <div class="iframe-container">
              <iframe [src]='item.ytEmbed'></iframe>
            </div>
          </div>

          <!-- Informações -->
          <div class="col-lg-5">
            <mat-card-header>
              <h3 class="mt-3 mt-sm-0">Sobre</h3>
            </mat-card-header>

            <mat-card-header class="sobre-over">
              <p> {{ item.descricao }} </p>
            </mat-card-header>
          </div>

          <div class="col-12 d-flex flex-row justify-content-center align-items-center flex-wrap">
            <div class="desc-item">
              <b> Entrevistado(a): &nbsp;</b> {{ item.entrevistado }}
            </div>
            <div class="desc-item">
              <b>País:&nbsp;</b> {{ item.pais }}
            </div>

            <div class="desc-item">
              <b>Duração:&nbsp;</b> {{ item.duracao }}
            </div>
          </div>
          <!-- fim infs -->

          <div *ngIf="item.links.length > 0" class="col-sm-12">
            <mat-card-header>
              <h3 class="mt-3 mt-sm-0">Links para conteúdos</h3>
            </mat-card-header>

            <mat-card-header class="d-flex flex-row flex-wrap">
              <div *ngFor="let linkExtra of item.links; let i = index;" class="m-2">
                <a href="{{ linkExtra.link }}" target="_blank" class="link">{{ linkExtra.nome }}</a>
              </div>
            </mat-card-header>
          </div>


        </div>
      </mat-card-content>


    </mat-card>
  </ng-template>
</ngb-carousel>
