<div *ngIf="isAdmin">
  <mat-card *ngFor="let item of contents" class="card mt-3 mr-3">

    {{ item.nome }}

    <mat-card-header>
      <b> Estado: &nbsp;</b> {{ item.estado }}
    </mat-card-header>

    <mat-card-header>
      <b>Universidade:&nbsp;</b> {{ item.universidade }}
    </mat-card-header>

    <mat-card-header>
      <b>Faculdade ou Instituto:&nbsp;</b> {{ item.faculdade }}
    </mat-card-header>

    <mat-card-header>
      <b>Link do Programa:&nbsp;</b> {{ item.pagina }}
    </mat-card-header>

    <mat-card-actions>
      <button *ngIf="item._id && isAdmin" mat-button (click)="delete(item._id)">Deletar</button>
      <button *ngIf="item._id && isAdmin" mat-button (click)="update(item)">Editar</button>
    </mat-card-actions>
  </mat-card>
</div>

<ngb-carousel *ngIf="!isAdmin" [showNavigationArrows]="true" [showNavigationIndicators]="true" [keyboard]="true"
  [wrap]="false" [activeId]="'slideTwo'" interval="0">
  <ng-template *ngFor="let item of contents" ngbSlide>
    <mat-card class="mt-5 mt-sm-0 card">
      <!-- Titulo -->
      <mat-card-header>
        <mat-card-title>
          <h1> {{ item.nome }}</h1>
        </mat-card-title>
      </mat-card-header>

      <!-- Conteudo -->
      <mat-card-content>
        <div class="row">
          <!-- Video -->


          <!-- Informações -->
          <div class="col-lg-12">
            <mat-card-header>
              <h3 class="mt-3 mt-sm-0">Link do Programa</h3>
            </mat-card-header>

            <mat-card-header class="sobre-over">
              <p> <a href="{{ item.pagina }}" target="_blank" class="">{{ item.pagina }}</a>
              </p>
            </mat-card-header>
          </div>

          <div class="col-12 d-flex flex-row justify-content-center align-items-center flex-wrap">
            <div class="desc-item">
              <b> Universidade: &nbsp;</b> {{ item.universidade }}
            </div>
            <div class="desc-item">
              <b>Faculdade ou Instituto:&nbsp;</b> {{ item.faculdade }}
            </div>

            <div class="desc-item">
              <b>Estado:&nbsp;</b> {{ item.estado }}
            </div>
          </div>
          <!-- fim infs -->

          <div *ngIf="item.links.length > 0" class="col-sm-12">
            <mat-card-header>
              <h3 class="mt-3 mt-sm-0">Links para conteúdos</h3>
            </mat-card-header>

            <mat-card-header class="d-flex flex-row flex-wrap">
              <div *ngFor="let linkExtra of item.links; let i = index;" class="m-2">
                <a href="{{ linkExtra.link }}" target="_blank" class="link">{{ linkExtra.nome }}</a>
              </div>
            </mat-card-header>
          </div>


        </div>
      </mat-card-content>


    </mat-card>
  </ng-template>
</ngb-carousel>
