<div id="wrapper">
  <div id="over_map">

    <section class="text-center" style="position: relative;margin-top: 155px;z-index: 1;">

      <!--<select class="form-control" id="opt" [(ngModel)]="categoria" (change)="mudarCategoria()">
                <option *ngFor="let categoriaS of categorias" [value]="categoriaS.id">
                  {{ categoriaS.name }}
                </option>
              </select>-->
      <div class="card" style="width: 18rem;">
        <div class="card-header" style="cursor: pointer;" (click)="exibirCategorias()">
          Em que pode ajudar? <i #categoriaSeta class="fa fa-chevron-down pull-right"></i>
        </div>

        <ul [style.display]="isCategoriaAberta ? 'block' : 'none'" *ngFor="let categoria of categorias"
          class="dontShow list-group list-group-flush">

          <li id="{{categoria.id}}" [ngClass]="{'success':categoriaSelecionada == categoria.id}"
            style="cursor: pointer;" (click)="mudarCategoria(categoria.id)" class="list-group-item text-left">
            <img *ngIf="categoria.icon" style="margin-right: 10px;" [src]="getIconCategoria(categoria.id)" width="30px"
              height="30px" />{{ categoria.name }}
            <span *ngIf="carregando" class="pull-right"><i style='text-align: center;'
                class="fa fa-spinner fa-spin"></i></span>
          </li>

        </ul>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="card-header" style="cursor: pointer; background-color: red; color: white;" (click)="modalSOS()">
          S.O.S Pedir Ajuda <i #categoriaSeta class="fa fa-exclamation-triangle  pull-right"></i>
        </div>
      </div>

    </section>
  </div>
  <agm-map [latitude]="location.lat" [zoom]="location.zoom" [longitude]="location.lng" [styles]="styles">

    <agm-marker *ngFor="let point of points" [iconUrl]="getIconCategoria(categoriaSelecionada)"
      (markerClick)="selectMarker(point._id)" [latitude]="point.help.lat" [longitude]="point.help.lng">
    </agm-marker>

  </agm-map>
</div>

<ng-template #callHelp>
  <div class="modal-upload">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Preciso de Ajuda!</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body" style="background-color: red; color: white; padding: 4px, 4px, 4px, 4px;">
      <div class="mt-2" *ngFor="let necessidade of necessidades; let i = index;">
        O que está te faltando?
        <button type="button" class="btn btn-danger" *ngIf="i > 0" (click)="removeHelpForm(i)">Remover</button>

        <input type="text" name="nome_{{i}}" class="form-control mt-2" id="abc613" placeholder="Produto/Alimento"
          [(ngModel)]="necessidade.produto" />
      </div>
      <button type="button" class="btn btn-success mt-2" (click)="addHelpForm()">+</button>

      <textarea [(ngModel)]="help.obs" placeholder="Conte mais do que tem passado..." class="form-control mt-2"
        id="exampleFormControlTextarea1" rows="3"></textarea>

      <div class="justify-content-center">
        <button class="btn btn-primary mt-2" (click)="canHelp()">Pedir Ajuda</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #modalTemplate>
  <div class="modal-header">
    <div class="pull-left">
      <h4 class="modal-title">Somar forças</h4>
      <!--<b>Categoria:</b> {{getNameCategoria(categoriaSelecionada)}}-->
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">


    <ngb-carousel *ngIf="!isAdmin" [showNavigationArrows]="false" [wrap]="false" [activeId]="'slideTwo'" interval="0">
      <ng-template ngbSlide>
        <mat-card class="mt-5 mt-sm-0 card">
          <!-- Titulo -->
          <mat-card-header>
            <mat-card-title>
              <h1> {{ userContent.fullname }}</h1>
            </mat-card-title>
          </mat-card-header>

          <!-- Conteudo -->
          <mat-card-content>
            <div class="row">
              <div class="col-12">

                Facebook: {{userContent.facebook}}

              </div>
              <div class="col-12">

                Instagram: {{userContent.instagram}}

              </div>

              <div class="col-12">

                celular: {{userContent.cellphone}}

              </div>

              <!-- Informações -->
              <div class="col-lg-5">
                Observação: {{ userContent.help.obs }}
              </div>

              <!-- fim infs -->

              <div class="col-sm-12">
                <mat-card-header>
                  <h3 class="mt-3 mt-sm-0">Produtos de necessidade</h3>
                </mat-card-header>

                <mat-card-header class="d-flex flex-row flex-wrap">
                  <div *ngFor="let necessidade of userContent.help.necessidades; let i = index;" class="m-2">
                    {{ necessidade.produto }}
                  </div>
                </mat-card-header>
              </div>
            </div>
          </mat-card-content>


        </mat-card>
      </ng-template>
    </ngb-carousel>


  </div>
</ng-template>
