.btn-primary {
    color: #fff;
    background-color: #b2c027;
    border-color: #BC8F8F;
}

.btn-primary:hover {
    color: #fff;
    background-color: #b2c027;
    border-color: #b2c027;
}

.textoInicial {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-color: #f4ff57;
}

.bg-head {
  background-color: #435F76!important;
  margin-top: 80px;
}


.sombra {
    text-shadow: 1px 1px rgb(0, 0, 0);
}

.bg-site {
  background-color: white; /* For browsers that do not support gradients */
  background-image: linear-gradient(yellow, white,white);
}

.modal-header{
  background-color: #b2c027 !important;
}


.content-section {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  background-color: #435F76 !important;
}

.content-section-heading h2 {
  font-size: 3rem;
}

.content-section-heading h3 {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-top: 20px;
  font-weight: 700;

}

.table td, .table th {
  padding: 0px;
}



.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 530px;
  margin: auto auto 1rem;
}

.portfolio-item .caption {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 37, 41, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.portfolio-item .caption .caption-content {
  color: #fff;
  margin: auto 2rem 2rem;
}

.portfolio-item .caption .caption-content h2 {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.portfolio-item .caption .caption-content p {
  font-weight: 300;
  font-size: 1.2rem;
}

@media (min-width: 992px) {
  .portfolio-item {
    max-width: none;
    margin: 0;
  }
  .portfolio-item .caption {
    -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
    -webkit-clip-path: inset(0px);
    clip-path: inset(0px);
  }
  .portfolio-item .caption .caption-content {
    transition: opacity 0.25s;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
  }
  .portfolio-item img {
    -webkit-transition: -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(-1px);
    clip-path: inset(-1px);
  }
  .portfolio-item:hover img {
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
  .portfolio-item:hover .caption {
    background-color: #DC8573;
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
}





.wrapper{
  background-color: #333;
  height: 250px;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.box{
  width: 250px;
  height: 100%;
  display: inline-block;
  margin: auto;
  overflow: hidden;
  
}
.boxes{
  width: 100%;
  height: 40px;
}
.small_box{
  margin: 0;
  background-color: #fff;
  display: inline-block;
  width: 26px;
  height: 20px;
  margin: 10px 10px 10px 10.81px;
}
.center_box{
  width: 90%;
  height: 170px;
  
  margin: auto;
  cursor: pointer;
  transition: opacity 0.2s linear;
  transition: transform 0.3s linear;
  animation: load 1s linear;
}

.center_box:hover{
  transform: scale(0.95);
  opacity: 0.75;
}

@keyframes load{
  from{transform: scale(0);}
}


.picsum-img-wrapper{
  margin:auto;
  height:360px;
  text-align: center;
}








