<!-- Masthead -->

<!-- Services -->
<section class="text-white text-center bg-head" id="intro-carrousel">

  <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="true" interval="10000" [keyboard]="true"
    [pauseOnHover]="true" [wrap]="true" [activeId]="'slideTwo'">

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper img-responsive">
        <img src="../../assets/img/carrosel/abecedarios.png" width="" alt="Random first slide" class="mh-100 img-fluid"
          style="height: 50vh">
      </div>
      <div class="carousel-caption">
        <!--  <h3>Abecedários</h3>-->
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper img-responsive">
        <img src="../../assets/img/carrosel/conversaseentrevistas.png" width="" alt="Random first slide"
          class="mh-100 img-fluid" style="height: 50vh">
      </div>
      <div class="carousel-caption">
        <!-- <h3>Conversas e entrevistas</h3>-->
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper img-responsive">
        <img src="../../assets/img/carrosel/producaoacademica.png" width="" alt="Random first slide"
          class="mh-100 img-fluid" style="height: 50vh">
      </div>
      <div class="carousel-caption">
        <!--<h3>Produção acadêmica</h3>-->

      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper img-responsive">
        <img src="../../assets/img/carrosel/cinematecas.png" width="" alt="Random first slide" class="mh-100 img-fluid"
          style="height: 50vh">
      </div>
      <div class="carousel-caption">
        <!-- <h3>Cinematecas</h3>-->

      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper img-responsive">
        <img src="../../assets/img/carrosel/escolas.png" width="" alt="Random first slide" class="mh-100 img-fluid"
          style="height: 50vh">
        <!-- <img src="../../assets/img/encontros.jpg" width="740px" alt="Random first slide" class="mh-100 img-fluid"
          style="height: 50vh">-->
      </div>
      <div class="carousel-caption">
        <!-- <h3>Escolas</h3>-->

      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper img-responsive">
        <img src="../../assets/img/carrosel/politicas.png" width="" alt="Random first slide" class="mh-100 img-fluid"
          style="height: 50vh">
      </div>
      <div class="carousel-caption">
        <!--  <h3>Politicas</h3>-->

      </div>
    </ng-template>

  </ngb-carousel>
</section>



<!-- About Section -->
<section class="page-section textoInicial" id="about">
  <div class="container ">
    <div class="row justify-content-center">
      <div class="col-lg-8" style="text-align: center;">
        <br />

        <h2 class="mt-0"><u>Cinenaescola</u></h2>
        <hr class="divider light my-4">
        <p class="mb-4 " style="text-align: justify;text-justify: inter-word;">

          A plataforma <i>Cinenaescola</i> inaugura um espaço de encontro e produção colaborativa para as políticas e
          pedagogias do cinema e da educação na escola. Aqui estão reunidos textos referentes às políticas públicas,
          currículos escolares, artigos, teses e dissertações, entrevistas, conversas, abecedários e conteúdos
          audiovisuais de pesquisadora/es, professora/es e artistas que articulam o cinema e a escola, além de acervos e
          arquivos digitais de cinematecas, museus de imagem e som e outros centros de memória.
          <br /><br />
          Em tempos de saturação de imagens e hiperconectividade, a produção audiovisual escolar se torna uma
          possibilidade para experimentação do sensível ao introduzir suas formas de pensar o mundo por meio das imagens
          e sons. Ver ou fazer cinema na escola são alternativas para ressignificar o regime 24/7 que nos submete ao
          consumo permanente, transformando nossas potências criativas e até mesmo a capacidade de sonhar.
          <br /><br />
          A partir da etimologia da palavra escola (skolé como tempo livre e lugar público) afirmamos a possibilidade
          de, por algumas horas, nos liberarmos das exigências do mercado. Dentro dessa concepção, o cinema aparece como
          um alargador de experiências quando respiramos brevemente a intensidade da história do outro, transformando-a
          numa vivência do comum . Nesse mundo que se multiplica em informação infinita, a escola pode se tornar uma
          espécie de mesa de montagem (ilha de edição) onde organizamos, cortamos, retardamos, aceleramos e fabulamos
          com o real. Fazer da escola um campo aberto à profanação e à suspeita e, com linguagens novas, duvidar daquilo
          que já se conhece, nossas próprias crenças e certezas mais cristalizadas.
          <br /><br />

          <i>Cinenaescola</i> é resultado de uma pesquisa de pós-doutorado que se expande a outros conteúdos da área,
          visando
          incluir projetos de pesquisa, ensino, extensão, iniciativas escolares, cineclubes, festivais e todas as
          pessoas que realizam trabalhos com cinema na escola

        </p>
      </div>
    </div>
  </div>





  <!--
  <div class="table-responsive text-nowrap" style="padding:0px; margin:0px !important;">
    <table class="table table-striped" style="padding:0px; margin:0px !important;">
      <tbody>
        <tr>
          <td>
            <div class="wrapper">
              <div class="box">
                <div class="boxes">
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                </div>
                <div class="center_box" style="background: url(../../assets/img/1.jpg) center center no-repeat;">
                </div>
                <div class="boxes">
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                </div>
              </div>
              <div class="box">
                <div class="boxes">
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                </div>
                <div class="center_box" style="background: url(../../assets/img/2.jpg) center center no-repeat;">
                </div>
                <div class="boxes">
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                </div>
              </div>
              <div class="box">
                <div class="boxes">
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                </div>
                <div class="center_box" style="background: url(../../assets/img/3.jpg) center center no-repeat;">
                </div>
                <div class="boxes">
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                </div>
              </div>
              <div class="box">
                <div class="boxes">
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                </div>
                <div class="center_box" style="background: url(../../assets/img/4.jpg) center center no-repeat;">
                </div>
                <div class="boxes">
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                </div>
              </div>
              <div class="box">
                <div class="boxes">
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                </div>
                <div class="center_box" style="background: url(../../assets/img/5.jpg) center center no-repeat;">

                </div>
                <div class="boxes">
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
-->

</section>




<!-- Services
<section class="content-section bg-primary text-white text-center" id="services">
  <div class="container">
    <div class="content-section-heading">
      <h3 class="mb-0" style="color: #BDB8AC;">Conteúdos</h3>
      <h2 class="mb-5">Aqui você encontrará</h2>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="fa fa-address-card"></i>
        </span>
        <h4>
          <strong>Abecedários</strong>
        </h4>
        <p class="text-faded mb-0">Vídeos de diálogos de cinema e educação</p>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="fa fa-camera"></i>
        </span>
        <h4>
          <strong>Entrevistas</strong>
        </h4>
        <p class="text-faded mb-0">Entrevistas com diretores, cineastas, artistas</p>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="fa fa-volume-up"></i>
        </span>
        <h4>
          <strong>podcast</strong>
        </h4>
        <p class="text-faded mb-0">Entrevistas em áudio sobre curiosidades de cinematecas
          <i class=""></i>
        </p>
      </div>
      <div class="col-lg-3 col-md-6">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="fa fa-graduation-cap "></i>
        </span>
        <h4>
          <strong>Produção Acadêmica</strong>
        </h4>
        <p class="text-faded mb-0">Artigos e conteúdos criados pela parte acadêmica</p>
      </div>
    </div>
  </div>
</section> -->


<!-- Portfolio -->
<section class="content-section" style="background-color: #BDB8AC !important; padding-bottom: 0px !important;"
  id="portfolio">

  <div class="container-portfolio" style="padding-top: 15px;">
    <div class="content-section-heading text-center">
      <h3 class="mb-0" style="color: #F4E9DB;">COLABORAÇÕES RECENTES</h3>
      <h2 class="mb-5" style="color: white;">Últimas postagens feitas na plataforma</h2>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6">
        <a class="portfolio-item" href="#">
          <span class="caption">
            <span class="caption-content">
              <h2>Entrevista com ...</h2>
              <p class="mb-0">Confira essa entrevista super construtiva</p>
            </span>
          </span>
          <img class="img-fluid" src="../../assets/img/abecedario.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-6">
        <a class="portfolio-item" href="#">
          <span class="caption">
            <span class="caption-content">
              <h2>podcast Avenida de Mayo 3</h2>
              <p class="mb-0">Política, cinema, dicas e muito mais!</p>
            </span>
          </span>
          <img class="img-fluid" src="../../assets/img/sound.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-6">
        <a class="portfolio-item" href="#">
          <span class="caption">
            <span class="caption-content">
              <h2>Prodção Acadêmica Articulo dussel cine y educacion copia</h2>
              <p class="mb-0">O artigo examina os vínculos entre o cinema e a escola</p>
            </span>
          </span>
          <img class="img-fluid" src="../../assets/img/graduation.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-6">
        <a class="portfolio-item" href="#">
          <span class="caption">
            <span class="caption-content">
              <h2>Gabriela Agustowsky</h2>
              <p class="mb-0">Conheça mais dos projetos Animate e Animar.</p>
            </span>
          </span>
          <img class="img-fluid" src="../../assets/img/sound.jpg" alt="">
        </a>
      </div>
    </div>
  </div>
</section>












<!-- Portfolio Section 
<section id="portfolio">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img class="img-fluid" src="../assets/img/portfolio-2.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">
              Categoria: Escola
            </div>
            <div class="project-name">
              Colégio Pedro II
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img class="img-fluid" src="../assets/img/portfolio-2.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">
              Categoria: Escola
            </div>
            <div class="project-name">
              Colégio Pedro II
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img class="img-fluid" src="../assets/img/portfolio-2.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">
              Categoria: Escola
            </div>
            <div class="project-name">
              Colégio Pedro II
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img class="img-fluid" src="../assets/img/portfolio-2.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">
              Categoria: Escola
            </div>
            <div class="project-name">
              Colégio Pedro II
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img class="img-fluid" src="../assets/img/portfolio-2.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">
              Categoria: Escola
            </div>
            <div class="project-name">
              Colégio Pedro II
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img class="img-fluid" src="../assets/img/portfolio-2.jpg" alt="">
          <div class="portfolio-box-caption p-3">
            <div class="project-category text-white-50">
              Categoria: Escola
            </div>
            <div class="project-name">
              Colégio Pedro II
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>-->







<ng-template id="template" #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Em construção</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Aguardando Financimento...
    <br />
    <img src="../assets/img/aguardandoFinanciamento.jpg" class="img-fluid capa-livro" />

  </div>
</ng-template>